main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header {
  text-align: center;
  padding: 40px;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 1200px;
  max-height: 2700px;
  box-sizing: border-box;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: lightcyan;
  height: fit-content;
  gap: 25px;
  width: 275px;
  img {
    width: 100%;
    height: auto;
  }
  .cardText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .price {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  .quantity {
    display: flex;
    gap: 7px;
    align-items: center;

    button {
      border-radius: 20px;
      border: none;
      background-color: black;
      color: white;
      font-size: 1.2rem;
      height: 32px;
      width: 32px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .addToCartBtn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: white;
      color: black;
      transform: scale(1.1);
    }
  }
}
