nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: lightblue;
}

img {
  height: 32px;
  width: auto;
}

h1 {
  padding: 0;
}
